@font-face {
  font-family: Bebas;
  src: url(Bebas.ttf);
}

html {
  font-family: 'Bebas';
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  text-align: center;
  color: aliceblue;
}

header {
  height: 10%;
  background-color: rgb(27, 27, 27);
  padding: 30px;
  font-size: 35px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}


.generator {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* height: 100vh; */
}

.controls {
  background-color: rgb(66, 66, 66);
  text-align: center;
  padding: 20px;
}

.controls>input {
  margin: 10px;
}

.generatedNames {
  background-color: rgb(83, 83, 83);
  text-align: center;
  padding: 20px;
}