* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  text-align: center;
}

header {
  height: 100px;
  background-color: aqua;
}

.controls {
  background-color: lightgreen;
  text-align: center;
  height: 50px;
  padding: 20px;
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
}

.controls>input {
  margin: 10px;
}

.generator {
  display: flex;
  flex-wrap: wrap;
}

.generatedNames {
  background-color: lightseagreen;
  text-align: center;
  height: 50px;
  padding: 20px;
  flex-basis: 20rem;
  flex-grow: 1;
}